/*large desktops*/

@media only screen and (min-width:1601px) and (max-width:1990px) {
	.border_line{
		height: 550px;
		width: 550px;
	}
	.slider_center_block:before{
		height: 250px;
		width: 250px;
	}
	.hero_gif{
		margin-top: -150px;
	}
	.slide_title {
	    /*float: right;
	    width: 40%;
	    text-align: right;
	    margin-right: 100px;
	    margin-top: 80px;*/
	}
	.circle_change{
		position: absolute;
	    left: 5%;
	    top: 12%;
	}
	.slide_change_content{
		width: 36%;
	    position: absolute;
	    top: 16%;
	    left: 50%;
	}
	.sc_desc {
	    font-size: 16px;
	}
	.slider_center_block img{
	    /*max-width: 112%;*/
	    max-width: 90%;
	}
	img.base_img4 {
	    /*margin-right: -130px;
    	margin-top: 25px;*/
	}
	img.base_img3 {
	    margin-top: 5px;
	    /*margin-left: -30px;*/
	}
	img.base_img2 {
	    max-width: 85%;
	    margin-top: -10px;
	}
	img.base_img1 {
	    /*margin-left: -35px;
	    margin-top: -10px;*/
	    margin-left: -10px;
    	margin-top: -10px;
	}
	.about_content{
		margin-top: 155px;
		font-size: 16px;
	}
	.about_content_right{
		margin-top: 155px;
		font-size: 16px;
	}
	.slide_title{		
		/*height: 32%;*/
		height: 29%;
	}
	.f_t_member{
		padding: initial;
	}
	.bg-color .side_nav {
	    top: 25px;
	}
	.w_img img{
		max-width: 100%;
	}

	#w_1 {
	    left: 19.5%;
	    bottom: 32.5%;
	    margin-left: -2px;
	}
	#w_2 {
	    left: 27.5%;
	    bottom: 56%;
	    margin-left: -2px;
	}
	#w_3 {
	    left: 36%;
	    bottom: 33.5%;
	    margin-left: -2px;
	}
	#w_4 {
	    left: 44%;
	    bottom: 56%;
	    margin-left: -2px;
	}
	#w_5 {
	    left: 52.2%;
	    bottom: 33.5%;
	    margin-left: -2px;
	}
	#w_6 {
	    left: 60.3%;
	    bottom: 56%;
	    margin-left: -2px;
	}
	#w_7 {
	    left: 68.7%;
	    bottom: 33.5%;
	    margin-left: -2px;
	}
	#w_8 {
	    left: 77%;
	    bottom: 56%;
	    margin-left: -2px;
	}
	#w_cap_1 {
	    top: 0;
	    left: 16%;
	}
	#w_cap_2 {
	    left: 24%;
	}
	#w_cap_3 {
	    top: 0;
	    left: 32.5%;
	}
	#w_cap_4 {
	    left: 41%;
	}
	#w_cap_5 {
	    top: 0;
	    left: 49%;
	}
	#w_cap_6 {
	    left: 57.5%;
	}
	#w_cap_7 {
	    top: 0px;
	    left: 65.5%;
	}
	#w_cap_8 {
	    left: 73.5%;
	}

	.ps_block_1 {
	    width: 40%;
	    float: left;
	    padding: 60px 0;
	    text-align: center;
	}
	.product_slider {
	    height: initial !important;
    	padding: 100px 0 60px 0!important;
	}
	.ps_block_2{
		padding-top: 100px;
	}

	.why_title{
	  margin-left: 50px;
	}
	.about_inner{
		background-size: 96%;
	}
	.ps_block_1 img{
		width:65%;
		max-width: 100%;
	}

}

/* midd Laptops
=====================**/

@media only screen and (min-width:1280px) and (max-width:1440px) {

	.ps_block_1 {
	    width: 40%;
	    float: left;
	    padding: 60px 0;
	    text-align: center;
	}
	.product_slider {
	    height: initial !important;
    	padding: 100px 0 60px 0!important;
	}
	.ps_block_2{
		padding-top: 50px;
	}
	.ps_block_1 img{
		/*width:65%;*/
		max-width: 100%;
	}

}

@media only screen and (min-width:1120px) and (max-width:1279px) {

	.ps_block_1 {
	    width: 40%;
	    float: left;
	    padding: 60px 0;
	    text-align: center;
	}
	.product_slider {
	    height: initial !important;
    	padding: 100px 0 60px 0!important;
	}
	.ps_block_2{
		padding-top: 50px;
	}
	.ps_block_1 img{
		/*width:65%;*/
		max-width: 100%;
	}

}

@media only screen and (min-width:600px) and (max-width:1369px) {

	.ps_block_1 {
	    width: 40%;
	    float: left;
	    padding: 60px 0;
	    text-align: center;
	}
	.product_slider {
	    height: initial !important;
    	padding: 100px 0 60px 0!important;
	}
	.ps_block_2{
		padding-top: 50px;
	}
	.ps_block_1 img{
		/*width:65%;*/
		max-width: 100%;
	}

}

/* small desktops
=============================**/
@media only screen and (min-width:1441px) and (max-width:1600px) {

	.ps_block_1 {
	    width: 40%;
	    float: left;
	    padding: 60px 0;
	    text-align: center;
	}
	.product_slider {
	    height: initial !important;
    	padding: 100px 0 60px 0!important;
	}
	.ps_block_2{
		padding-top: 50px;
	}
	.ps_block_1 img{
		/*width:65%;*/
		max-width: 100%;
	}

}


/** Mobile sites
===========================**/

@media screen and (max-width: 768px){
	*{
		/*border:1px solid red;*/
	}
	body{
		background-position: center center;
		background-color: #d7ecc5;
	}
	header{
		padding:0px 10px;
	}
	.header_tr_text{
		display: none;
	}
	.logo{
		width: 40%;
    	padding: 10px 0;
	}
	.bg-color .logo {
	    padding: 5px 5px;
	}
	.right_menu{
		margin-right: initial;
	}
	.nav_menu{
		height: 100%;
		overflow-y: scroll;
	}
	ul.list-inline.footer-social.m-b0.nav-social{
		position: relative;
		bottom: 0;
		right: 0px;
	}
	.footer-social li{
		display: inline-block;
	}
	section.section{
		padding:50px 0 0 0;
		overflow-x: hidden;
	}
	.about_content {
	    margin-top: 0px;
	    padding-left: inherit;
	    width: initial;
	    font-size: 14px;
	}
	body [data-aos-delay] {
	    transition-delay: 0 !important;
	}
	.side_nav {
	    cursor: pointer;
	    float: right;
	    padding: 5px 30px;
	}
	.home_icon{
		font-size: 30px;
	}
	span.icon_bar {
	    width: 30px;
	    height: 2px;
	    background: #6b6b6b;
	    display: block;
	    margin-bottom: 4px;
	}
	p{
		text-align: justify;
	}
	.title{
		font-size: 25px;
		text-align: left;
	}
	span.divider{
		width: 100%;
	}
	.why_title{
		margin-left: inherit;
	}
	.certificate_team {
	    width: 40%;
	    float: left;
	}
	.awards-title{
		padding-left: initial;
	}
	.address {
	    padding: inherit;
	    border-radius: 3px;
	    width: initial;
	}
	.contact_form input {
	    width: inherit !important;
	    padding: 10px 0 10px 10px;
	    border: 1px solid gainsboro;
	    border-radius: 3px;
	    width: 100% !important;
	    display: inline-block;
	    box-sizing: border-box;
	}
	.contact_form .col-md-6 {
	    width: inherit !important; 
	    margin-bottom: 6px;
	    padding: 0px !important;
	}
	.contact_form .col-md-12{
		padding:0px;
	}
	.contact_form select {
	    width: 100%;
	    padding: 10px;
	    border: 1px solid gainsboro;
	    border-radius: 3px;
	    background: #fff;
	    color: #696969;
	}
	.contact_form textarea {
	    width: 100%;
	    padding: 10px;
	    border: 1px solid gainsboro;
	    border-radius: 3px;
	    min-height: 80px;
	    box-sizing: border-box;
	}
	.contact_form input[type="submit"]{
		margin: initial;
	}
	.pos_content{
		padding-top: 0px;
	}
	.ps_block_1 {
	    width: 70% !important;
	    float: none !important;
	    padding: initial !important;
	    margin-right: inherit !important;
	    margin: 0 auto !important;
	}
	.ps_block_2{
		width: 90% !important;
	    float: none !important;
	    margin-top: 0px !important;
	    margin: 0 auto;
	}
	.product_slider {
	    padding: 0px !important;
	}
	section#loyalty{
		padding-top: 0px !important;
	}
	#services .swiper-container {
	    height: initial !important;
	}
	.op_content{
		padding-top: 0px;
	}
	#online-presence-slider .col-md-12{
		padding:0px;
	}
	#online-presence-slider .col-md-6{
		padding:0px;
	}
	#awards-inner ul.nav.nav-tabs{
		width: 100%;
	}
	.nav-tabs > li{
		margin:5px 5px;
		float: none;
	}
	.copyright_links{
		text-align: center;
	}
	.flex_social{
		display: block;
	}
	.footer_white_block .col-md-5{
		text-align: center !important;
	}
	.footer_white_block p{
		text-align: center;
	}
	.links_block_1 {
	    border-bottom: 1px solid gainsboro;
	    padding-bottom: 10px;
	    margin-bottom: 10px;
	}
	.news_media table a{
		font-size: 13px;
	}
	#contact_section .title{
		text-align: center;
	}
	.map_block iframe{
		margin-left: 0px;
		margin-right: 0px;
		width: 100%;
	}
	.contact_form {
	    margin-top: 30px;
	}
	ul.client-logo{
		display: inline-block;
		width: 100%;
	}
	ul.client-logo li{
		width: 40%;
		display: inline-block;
	}
	.call_now{
		top: 10%;
	}
	.news_item {
	    width: initial;
	    margin-right: initial;
	    margin-bottom: 30px;
	}
	.col-md-2.sub-img {
	    width: initial;
	    border-bottom: 1px solid #5d8922;
	    padding-bottom: 10px;
	    margin-bottom: 10px;
	}
	.col-md-2.sub-img:last-child {
	    border-bottom: none;
	}
	#four-images .title{
		text-align: center;
	}
	.about_content_right {
	    margin-top: initial;
	    padding-right: inherit;
	    width: initial;
	    font-size: 14px;
	}


	/* Homepage Responsive Design
	---------------------------------**/
	.slide_icons{
		position: relative;
	    top: initial;
	    left: initial;
	    right: initial;
	    bottom: initial;
	    display: inline-block;
	    margin-right: 5px;
	}
	.slide_inner_content{
		text-align: center;
	}
	.border_line{
		background: none;
	    width: initial;
	    height: initial !important;
	    border-radius: 0px;
	    margin-left: auto;
	    padding: 0 20px;
	}
	.slide_change_content {
	    width: initial;
	    position: relative;
	    top: initial;
	    left: initial;
	    padding: 0px 20px;
	}
	.circle_change{
		position: relative;
	}
	.slider_center_block{
		width: 100%;
		padding-top: 30px;
	}
	.slide_title{
		display: none;
	}
	.hero_section {
	    height: initial;
	}
	.tr_text_remove{
		opacity: 1;
	}
}